@use "variables";

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul, li{
    list-style-type: none;
}

body{
    background-color: variables.$lightGrayishBlue;
    font-size: 13px;
    font-family: "Manrope", sans-serif;
}